:coffeescript

  # CS probeert van alles statements te maken en geeft standaard een return
  # van alles wordt een closure wrapper gemaakt!
  #

  # Gebruik CS + jQ wanneer DOM gereed
  jQuery(document).ready ($) ->
  #!# ESSENTIAL WRAPPER

    # Dankzij deze wrapper hebben we nu de dollar $ variabele terug in gebruik:
    # - plugins e.d. werken weer zoals naar behoren

    # native javascript alert method called with a DOM node object as parameter
    #alert document.getElementById 'form_api'
    ##> a popup

    $("form > #abc").click -> $("#form_api").submit


    $(document).on 'click', '#verstuur', ->
      alert 'foo'
      alert $("#form_api").attr 'action'
