section#nieuwsbrief

  h1 Nieuwsbrieven

  p Hier verschijnt binnenkort onze nieuwsbrief.

    #t-nieuws
      .temp



:coffeescript

  jQuery(document).ready ($) ->

    si = $("#disabled").royalSlider(
      addActiveClass: true
      arrowsNav: false
      controlNavigation: "none"
      autoScaleSlider: true
      autoScaleSliderWidth: 940
      autoScaleSliderHeight: 340
      loop: true
      fadeinLoadedSlide: false
      globalCaption: true
      keyboardNavEnabled: true
      globalCaptionInside: false
      visibleNearby:
        enabled: true
        centerArea: 0.5
        center: true
        breakpoint: 650
        breakpointCenterArea: 0.64
        navigateByCenterClick: true
    ).data("royalSlider")

