@import url("http://fonts.googleapis.com/css?family=Dosis:400,500,600|Open+Sans:400italic,600italic,700italic,400,600,700");
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
li{list-style-type:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body{width:100%;*zoom:1;}
body:before,body:after{content:"";display:table}
body:after{clear:both}
a[href],input[type='submit'],input[type='image'],label[for],select,button,.pointer{cursor:pointer}
h1,h2,h3{margin:0;padding:0;font:14px 'Open Sans',sans-serif;color:#363636;margin:0 auto}
p{font:16px 'Open Sans',sans-serif;margin-bottom:25px}
li{font-size:16px}
ul.afgevinkt{margin-top:30px;line-height:30px;font:18px 'Open Sans',sans-serif;}
ul.afgevinkt > li{font-size:16px;list-style-image:url("/media/afbeeldingen/arrow.png");list-style-position:outside;margin-left:60px;margin-bottom:20px}
#media-bannier{width:100%;background:transparent;margin:0;padding:0;display:block;float:none;background:url("/media/afbeeldingen/tegel_grijs.png") repeat;min-height:200px;margin:0 auto;padding:50px 0}
#bannier{width:100%;background:transparent;margin:0;padding:0;display:block;float:none;height:384px}
a:link &:hover &:visited &:active{color:#e31741;text-decoration:none;font:'Open Sans',sans-serif}
a.knop,input.knop,#paginakop > aside > a.login,a.context,a.verder{background-color:#e31741;display:inline-block;cursor:pointer;font:16px 'Dosis',sans-serif;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border-width:none;padding:10px 20px;color:#fff;text-decoration:none;text-transform:uppercase;}
a.knop:hover,input.knop:hover,#paginakop > aside > a.login:hover,a.context:hover,a.verder:hover{background-color:#b88d74;text-decoration:none;color:#fff}
a.knop.klein{padding:5px 15px;font-size:14px}
address{font-style:normal;font-size:24px;color:#e31741;font-weight:300;line-height:48px;text-align:center;}
address > strong{font-size:36px;color:#e31741;font-weight:700}
hr.dotted{border-top:1px dotted #e0e0e0;color:#fff;background-color:#fff;height:1px;width:100%;margin-top:25px}
.adresblok{display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction;margin-bottom:50px;line-height:24px;}
.adresblok > strong{margin-bottom:30px;margin-top:30px;padding:0;font-family:16px 'Open Sans',sans-serif;font-style:none;font-weight:700;color:#363636}
.adresblok a.link{padding-left:20px;color:#e31741;font-family:'Open Sans',sans-serif;text-decoration:none;}
.adresblok a.link:hover{text-decoration:underline}
.adresblok > a.knop{margin-top:40px}
.adresblok span{padding-left:20px}
.markeer{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
figure{display:block;font:22px 'Dosis',sans-serif;font-size:600;display:inline-block;color:#b88c74;text-align:center;overflow:none;margin-bottom:30px;}
figure > figcaption{font-size:18px;color:inherit;margin-bottom:30px;text-transform:uppercase}
.centreren{width:940px;margin:0 auto}
p#contact{text-align:center;color:#6b4c39}
.meganizr{position:relative;z-index:500;clear:both;width:100%;height:37px;border:1px solid #eee;border-bottom:2px solid #ccc;background:linear-gradient(top,#fefefe 0%,#ededed 100%);-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.meganizr .menu-volledige-breedte > div{width:100%}
.meganizr .menu-groep{width:200px;float:left;margin:10px 0 10px 10px}
.meganizr ul,.meganizr li,.meganizr a,.meganizr div,.meganizr p,.meganizr h3,.meganizr h4,.meganizr h5{margin:0;padding:0;font-size:13px;font-family:'Open Sans',sans-serif}
.meganizr a{text-decoration:none}
.meganizr li{list-style:none}
.meganizr:before,.meganizr:after{content:'';clear:both}
.meganizr > li > ul li.menu-uitvouwen:hover > ul{top:-11px}
.meganizr > li{position:relative;display:block;float:left;height:37px;border-right:1px dotted #ccc;}
.meganizr > li.menu-volledige-breedte{position:static}
.meganizr > li.menu-uitvouwen:hover > div,.meganizr > li.menu-uitvouwen:hover > ul,.meganizr > li > ul li.menu-uitvouwen:hover > ul,.meganizr > li.menu-uitvouwen:hover > a:focus{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);overflow:visible;visibility:visible}
.meganizr > li.menu-uitvouwen:hover > a:after,.meganizr > li.menu-uitvouwen:hover > a:focus:after{position:absolute;content:'';top:2px;left:0;width:100%;height:37px;background:transparent url("../media/afbeeldingen/menu_pijl.png") no-repeat bottom center}
.meganizr > li:hover > a{z-index:650}
.meganizr > li > ul,.meganizr > li > ul li > ul{width:160px;padding:10px}
.meganizr > li > ul li{position:relative;}
.meganizr > li > ul li > ul{position:absolute;left:100%}
.meganizr > li > ul a{display:block;line-height:30px;border-bottom:1px dotted #e1e1e1;padding-left:10px;font-family:'Open Sans',sans-serif;font-size:13px;color:#363636;text-shadow:0 1px 1px #fff;-webkit-transition:color .15s ease-in;-moz-transition:color .15s ease-in;-ms-transition:color .15s ease-in;-o-transition:color .15s ease-in;transition:color .15s ease-in}
.meganizr > li > ul li:last-child a{border:none}
.meganizr > li > ul a:hover{color:#e31741}
.meganizr > li > a{position:relative;z-index:550;display:block;padding:0 30px 0 0;line-height:34px;font-family:'Dosis',sans-serif;font-weight:500;font-size:18px;color:#525252;text-shadow:0 1px 1px #fff;-webkit-transition:color .15s ease-in,background-image .2s linear .15s;-moz-transition:color .15s ease-in,background-image .2s linear .15s;-ms-transition:color .15s ease-in,background-image .2s linear .15s;-o-transition:color .15s ease-in,background-image .2s linear .15s;transition:color .15s ease-in,background-image .2s linear .15s;}
.meganizr > li > a:hover{color:#000}
.meganizr > li > a:active{color:#525252;-webkit-transition:color 1s;-moz-transition:color 1s;-ms-transition:color 1s;-o-transition:color 1s;transition:color 1s}
.meganizr > li > div,.meganizr > li > ul,.meganizr > li > ul li > ul{position:absolute;z-index:600;padding:0;top:38px;left:-1px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);overflow:hidden;visibility:hidden;background-color:#fff;border-top:1px solid #e0e0e0;-webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,0.25),inset 0 1px 1px 1px rgba(255,255,255,0.7);-moz-box-shadow:0 3px 6px 0 rgba(0,0,0,0.25),inset 0 1px 1px 1px rgba(255,255,255,0.7);-ms-box-shadow:0 3px 6px 0 rgba(0,0,0,0.25),inset 0 1px 1px 1px rgba(255,255,255,0.7);-o-box-shadow:0 3px 6px 0 rgba(0,0,0,0.25),inset 0 1px 1px 1px rgba(255,255,255,0.7);box-shadow:0 3px 6px 0 rgba(0,0,0,0.25),inset 0 1px 1px 1px rgba(255,255,255,0.7);border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.menu-inhoud{cursor:default;}
.menu-inhoud h2,.menu-inhoud h3,.menu-inhoud h4{font-family:'Open Sans',sans-serif;font-style:normal;font-size:14px;color:#e31741;margin-top:10px;margin-right:0;text-align:left;padding-bottom:10px;padding-left:5px}
.menu-inhoud > h2{font-size:20px}
.menu-inhoud > h3{font-size:14px}
.menu-inhoud > h4{font-size:16px}
.menu-inhoud p{padding:10px 0;line-height:18px;color:#333}
.menu-inhoud a{color:#363636;}
.menu-inhoud a:hover{color:#e31741}
.menu-inhoud .menu-links a{display:block;padding:5px 5px;line-height:30px;border-bottom:1px dotted #e1e1e1}
.menu-inhoud .menu-links li:last-child a{border:none}
.menu-klasse{border:1px solid #fff;border-bottom:2px solid #fff;background:linear-gradient(top,#fff 0%,#fff 100%);}
.menu-klasse > li{border-right:1px dotted #fff;}
.menu-klasse > li > a,.menu-klasse > li.mzr-search input{color:#b88d74;text-shadow:0 1px 1px #fff}
.menu-klasse > li > a:hover{color:#e31741}
.menu-klasse > li > a:active{color:#b88d74}
@media screen and (min-width: 940px){.meganizr .menu-volledige-breedte .menu-groep{width:22.8%;margin:1.3% 0 1.3% 1.3%}
}#app{position:absolute;top:0;bottom:0;right:0;left:0;overflow:auto;-webkit-overflow-scrolling:touch;background:url("circles.png") no-repeat bottom left;padding:30px;color:#222;line-height:1.5;font-size:16px;text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#app p a{background:rgba(255,255,255,0.5);border:1px solid rgba(255,255,255,0.6);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:0 3px;color:#333}
nav#arc{position:fixed;top:30px;right:30px;background:#f00}
nav#full{position:relative;margin-left:50%}
a{-webkit-tap-highlight-color:rgba(0,0,0,0)}
nav#full > a,nav#arc > a,nav#app > a{position:absolute;width:40px;height:40px;background:#f00;background:-webkit-linear-gradient(#f00,#db0000 50%,#bd0000 50%,#900);background:-moz-linear-gradient(#f00,#db0000 50%,#bd0000 50%,#900);bottom:-23px;left:-23px;z-index:2;-webkit-border-radius:40px;-moz-border-radius:40px;-ms-border-radius:40px;-o-border-radius:40px;border-radius:40px;font-size:38px;font-weight:bold;text-align:center;line-height:30px;color:#fff;text-decoration:none;border:3px solid #fff;-webkit-box-shadow:0 0 2px rgba(0,0,0,0.6);-moz-box-shadow:0 0 2px rgba(0,0,0,0.6);-ms-box-shadow:0 0 2px rgba(0,0,0,0.6);-o-box-shadow:0 0 2px rgba(0,0,0,0.6);box-shadow:0 0 2px rgba(0,0,0,0.6)}
nav#full ul,nav#arc ul,nav#app ul{padding:0;margin:0;list-style-type:none}
nav#full li,nav#arc li,nav#app li{position:absolute;left:-16px;top:-16px;}
nav#full li a,nav#arc li a,nav#app li a{font-size:18px;font-weight:normal;border:3px solid #fff;-webkit-box-shadow:inset 0 0 4px #000,0 0 2px rgba(0,0,0,0.6);-moz-box-shadow:inset 0 0 4px #000,0 0 2px rgba(0,0,0,0.6);-ms-box-shadow:inset 0 0 4px #000,0 0 2px rgba(0,0,0,0.6);-o-box-shadow:inset 0 0 4px #000,0 0 2px rgba(0,0,0,0.6);box-shadow:inset 0 0 4px #000,0 0 2px rgba(0,0,0,0.6);text-shadow:0 0 2px #000;width:27px;height:27px;background:#444;position:absolute;top:0;left:0;overflow:hidden;color:#fff;-webkit-border-radius:26px;-moz-border-radius:26px;-ms-border-radius:26px;-o-border-radius:26px;border-radius:26px;line-height:24px;text-align:center;text-decoration:none;font-weight:bold}
textarea{font:16px 'Open Sans',sans-serif;font-style:italic;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border:1px solid #ccc;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-ms-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-o-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);box-shadow:inset 0 0 10px rgba(0,0,0,0.06);padding:10px;margin:0}
input[type="email"],input[type="text"],input[type="tel"],input[type="password"]{font:16px 'Open Sans',sans-serif;border:1px solid #ccc;padding:5px 10px;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-ms-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);-o-box-shadow:inset 0 0 10px rgba(0,0,0,0.06);box-shadow:inset 0 0 10px rgba(0,0,0,0.06);z-index:2;}
input[type="email"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="password"]:focus{font-style:normal}
textarea[type="email"]:-moz-placeholder,input[type="email"]:-moz-placeholder,textarea[type="text"]:-moz-placeholder,input[type="text"]:-moz-placeholder,textarea[type="tel"]:-moz-placeholder,input[type="tel"]:-moz-placeholder,textarea[type="password"]:-moz-placeholder,input[type="password"]:-moz-placeholder{color:#919191;font-style:italic;}
textarea[type="email"]:-moz-placeholder:focus,input[type="email"]:-moz-placeholder:focus,textarea[type="text"]:-moz-placeholder:focus,input[type="text"]:-moz-placeholder:focus,textarea[type="tel"]:-moz-placeholder:focus,input[type="tel"]:-moz-placeholder:focus,textarea[type="password"]:-moz-placeholder:focus,input[type="password"]:-moz-placeholder:focus{font-style:normal}
textarea[type="email"]:-ms-input-placeholder,input[type="email"]:-ms-input-placeholder,textarea[type="text"]:-ms-input-placeholder,input[type="text"]:-ms-input-placeholder,textarea[type="tel"]:-ms-input-placeholder,input[type="tel"]:-ms-input-placeholder,textarea[type="password"]:-ms-input-placeholder,input[type="password"]:-ms-input-placeholder{color:#919191;font-style:italic;}
textarea[type="email"]:-ms-input-placeholder:focus,input[type="email"]:-ms-input-placeholder:focus,textarea[type="text"]:-ms-input-placeholder:focus,input[type="text"]:-ms-input-placeholder:focus,textarea[type="tel"]:-ms-input-placeholder:focus,input[type="tel"]:-ms-input-placeholder:focus,textarea[type="password"]:-ms-input-placeholder:focus,input[type="password"]:-ms-input-placeholder:focus{font-style:normal}
textarea[type="email"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,textarea[type="text"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder,textarea[type="tel"]::-webkit-input-placeholder,input[type="tel"]::-webkit-input-placeholder,textarea[type="password"]:-webkit-input-placeholder,input[type="password"]:-webkit-input-placeholder{color:#919191;font-style:italic;}
textarea[type="email"]::-webkit-input-placeholder:focus,input[type="email"]::-webkit-input-placeholder:focus,textarea[type="text"]::-webkit-input-placeholder:focus,input[type="text"]::-webkit-input-placeholder:focus,textarea[type="tel"]::-webkit-input-placeholder:focus,input[type="tel"]::-webkit-input-placeholder:focus,textarea[type="password"]:-webkit-input-placeholder:focus,input[type="password"]:-webkit-input-placeholder:focus{font-style:normal}
input[type="checkbox"]{-webkit-appearance:none;border:1px solid #cacece;-webkit-box-shadow:0 0 3px 0 #e0e0e0;-moz-box-shadow:0 0 3px 0 #e0e0e0;-ms-box-shadow:0 0 3px 0 #e0e0e0;-o-box-shadow:0 0 3px 0 #e0e0e0;box-shadow:0 0 3px 0 #e0e0e0;background:#fff;margin-left:-1px;padding:11px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;display:inline-block;position:relative;vertical-align:middle;}
input[type="checkbox"]:active,input[type="checkbox"]:checked:active{-webkit-box-shadow:0 0 3px 0 #e0e0e0;-moz-box-shadow:0 0 3px 0 #e0e0e0;-ms-box-shadow:0 0 3px 0 #e0e0e0;-o-box-shadow:0 0 3px 0 #e0e0e0;box-shadow:0 0 3px 0 #e0e0e0}
input[type="checkbox"]:checked{border:1px solid #cbcbcb;-webkit-box-shadow:0 0 3px 0 #e0e0e0;-moz-box-shadow:0 0 3px 0 #e0e0e0;-ms-box-shadow:0 0 3px 0 #e0e0e0;-o-box-shadow:0 0 3px 0 #e0e0e0;box-shadow:0 0 3px 0 #e0e0e0;color:#99a1a7}
input[type="checkbox"]:checked:after{content:'\2714';font-size:20px;position:absolute;top:-1px;left:3px;color:#403e6b}
input[type="radio"]{-webkit-appearance:none;background-color:#fafafa;border:1px solid #cacece;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);-ms-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);-o-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);padding:9px;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;display:inline-block;position:relative;}
input[type="radio"]:checked{background-color:#e9ecee;color:#99a1a7;border:1px solid #adb8c0;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1),inset 0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1),inset 0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1),inset 0 0 10px rgba(0,0,0,0.1);-o-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1),inset 0 0 10px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1),inset 0 0 10px rgba(0,0,0,0.1);}
input[type="radio"]:checked:after{content:' ';width:12px;height:12px;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;position:absolute;top:3px;background:#99a1a7;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);-ms-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);box-shadow:inset 0 0 10px rgba(0,0,0,0.3);text-shadow:0;left:3px;font-size:32px}
input[type="radio"]:active,input[type="radio"]:checked:active{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);-ms-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);-o-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1)}
form mark.validate{display:inline-block;float:right;margin-top:10px;margin-right:15px;width:21px;height:21px;background:transparent none}
form span.bericht{font:16px 'Open Sans',sans-serif;font-weight:600;font-style:italic;margin:1em 0;color:#e31741;padding:0;display:block;background:transparent none}
form .fout_bericht{display:block;height:22px;line-height:22px;background:#fbe3e4 url("/media/afbeeldingen/error.png") no-repeat 10px center;padding:3px 10px 3px 35px;color:#8a1f11;border:1px solid #fbc2c4;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
form .loader{padding:0 10px}
article#contact form mark.valid,article#vacatures form mark.valid{background:url("/media/afbeeldingen/succes_groen.png") no-repeat top left}
article#contact form mark.fout,article#vacatures form mark.fout{background:url("/media/afbeeldingen/error_rood.png") no-repeat top left}
article#contact form input.fout,article#vacatures form input.fout{border:2px solid #e31741;-webkit-box-shadow:0 0 5px rgba(73,71,133,0.8);-moz-box-shadow:0 0 5px rgba(73,71,133,0.8);-ms-box-shadow:0 0 5px rgba(73,71,133,0.8);-o-box-shadow:0 0 5px rgba(73,71,133,0.8);box-shadow:0 0 5px rgba(73,71,133,0.8)}
article#contact form #melding,article#vacatures form #melding{color:#e31741}
article#abonnement form mark.valid{background:url("/media/afbeeldingen/succes.png") no-repeat top left}
article#abonnement form mark.fout{background:url("/media/afbeeldingen/error.png") no-repeat top left}
article#abonnement form input.fout{border:2px solid #47427a;-webkit-box-shadow:0 0 5px rgba(73,71,133,0.8);-moz-box-shadow:0 0 5px rgba(73,71,133,0.8);-ms-box-shadow:0 0 5px rgba(73,71,133,0.8);-o-box-shadow:0 0 5px rgba(73,71,133,0.8);box-shadow:0 0 5px rgba(73,71,133,0.8)}
article#abonnement form #melding{color:#e31741}
#bestand{position:relative;display:inline;}
#bestand > input[type=file]{position:absolute;left:0;margin-top:-5px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);z-index:1;cursor:pointer;width:200;height:50}
#bestand > input[type=text]{position:absolute;display:inline-block;left:0;margin-top:-5px;top:0;z-index:-1;width:200;height:50}
#multimedia > #email{margin-top:30px}
body{font:14px 'Open Sans',sans-serif;font-weight:500;font-color:#363636}
nav.container{font:18px 'Dosis',sans-serif !important;font-weight:400}
.navbar{font:18px 'Dosis',sans-serif;background:transparent;margin:0;padding:0}
.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle{background:transparent;color:#555}
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus{-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;background-color:transparent;color:#e31741}
.navbar .nav > li > a:link{margin:0;padding-left:0;color:#b88d74;}
.navbar .nav > li > a:link:hover{color:#e31741}
.navbar .nav > li > a:visited,.navbar .nav > li > a:active{color:#b88d74}
.dropdown-menu{width:950px;left:-201px;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0}
.navbar .nav > li > .dropdown-menu:before{left:220px}
.navbar .nav > li > .dropdown-menu:after{left:220px}
.menu-kolom{background:transparent;float:left;overflow:hidden;padding:0 20px}
.menu-kolom h4{font:12px 'Dosis',sans-serif;font-weight:600;color:#e31741}
.menu-kolom > ul{list-style-type:none;display:inline-block;min-width:150px;width:auto;vertical-align:top;padding:0 30px 0 0;margin:0 0 40px 0}
.menu-kolom > ul > li > a{font:12px 'Dosis',sans-serif;line-height:25px;margin:0;padding:0;}
.menu-kolom > ul > li > a:before{content:"» ";color:#e31741}
.menu-kolom > ul > li > a:hover{background:transparent;color:inherit}
ul.nav > li > a{text-transform:uppercase}
#paginakop{width:940px;margin:0 auto;}
#paginakop > header{display:inline;float:left;overflow:hidden;width:783.3333333333334px;margin:0 0;*width:783.3333333333334px -correction;*margin:0 0 -correction;padding:20px 0}
#paginakop > aside{display:inline;float:left;overflow:hidden;width:156.66666666666666px;margin:0 0;*width:156.66666666666666px -correction;*margin:0 0 -correction;text-align:right;}
#paginakop > aside > a.login{background:#b88d74;font-size:14px;padding:5px 15px;margin:20px 10px 10px 0;}
#paginakop > aside > a.login:hover{background:#e31741}
#menucontext{width:940px;margin:0 auto;color:#fff;}
#menucontext > h1{padding-top:50px;font:65px 'Open Sans',sans-serif;line-height:65px;text-align:left;color:inherit;font-style:italic;font-weight:700}
#menucontext > h2{font:48px 'Open Sans',sans-serif;color:inherit;font-style:italic;font-weight:400}
#menucontext > p{padding-top:20px;font:14px 'Open Sans',sans-serif;color:inherit;font-weight:400;line-height:1.5em;margin-bottom:10px}
a.context{-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-ms-box-shadow:0 1px 3px rgba(0,0,0,0.5);-o-box-shadow:0 1px 3px rgba(0,0,0,0.5);box-shadow:0 1px 3px rgba(0,0,0,0.5);background-color:#fff;margin:30px 0;color:#e31741;}
a.context:hover{color:#fff;background:#e31741}
a.verder{position:relative;display:inline-block;background-color:#e31741;margin:0 auto;padding:10px 24px;}
a.verder:hover{background-color:#b88c74}
article.inhoud{display:inline;float:left;overflow:hidden;width:940px;margin:0 0;*width:940px -correction;*margin:0 0 -correction;width:940px;margin:0 auto;display:block;float:none;padding-top:50px;padding-bottom:30px;}
article.inhoud > h1,article#abonnement > hgroup > h1{color:#6b4c39;font:30px 'Open Sans',sans-serif;font-weight:600;font-style:italic;text-align:center}
article.inhoud > h2,article#abonnement > hgroup > h2{font:22px 'Open Sans',sans-serif;color:#6b4c39;text-align:center;font-weight:400;line-height:30px;margin:30px 0}
article.inhoud > p{color:#363636;line-height:24px;}
article.inhoud > p a{color:#e31741;text-decoration:none;}
article.inhoud > p a:hover{text-decoration:underline}
article.inhoud > p figure > figcaption{margin-bottom:50px;text-transform:uppercase}
article#voorpagina{text-align:center;}
article#voorpagina > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font:36px 'Open Sans',sans-serif;margin:25px 0;font-style:italic;font-weight:600}
article#voorpagina > figure{display:block;font:22px 'Dosis',sans-serif;font-size:600;display:inline-block;color:#b88c74;text-align:center;overflow:none;margin-bottom:30px;display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction}
article#voorpagina > figure > figcaption{font-size:18px;color:inherit;margin-bottom:30px;text-transform:uppercase}
article#overtuiging{text-align:center;margin-bottom:50px;}
article#overtuiging > section{width:940px;margin:0 auto;display:inline-block;}
article#overtuiging > section > figure{display:block;font:22px 'Dosis',sans-serif;font-size:600;display:inline-block;color:#b88c74;text-align:center;overflow:none;margin-bottom:30px;display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction}
article#overtuiging > section > figure > figcaption{font-size:18px;color:inherit;margin-bottom:30px;text-transform:uppercase}
article#overtuiging > h1,article#overtuiging h2,article#overtuiging h3,article#overtuiging h4,article#overtuiging h5{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;color:#6b4c39;font:36px 'Open Sans',sans-serif;margin:25px 0;font-style:italic;font-weight:600}
article#overtuiging > h2,article#overtuiging h3,article#overtuiging h4,article#overtuiging h5{font-size:24px;float:none}
article#belastingadvies > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font-size:30px;line-height:38px}
article#belastingadvies > h2{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;color:#403e6b;font-size:24px;font-style:italic;font-weight:600}
article#belastingadvies > h3{font:22px 'Open Sans',sans-serif;font-weight:700;color:#363636;margin-bottom:20px;margin-top:20px}
article#belastingadvies > h4{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;text-align:center;font:24px 'Open Sans',sans-serif;font-weight:600;color:#6b4c39;font-style:italic;margin-bottom:20px;margin-top:20px}
article#belastingadvies blockquote{float:right;position:relative;background:url("/media/afbeeldingen/bg_quote.png") no-repeat center center;height:169px;width:300px;padding:20px;margin:0 40px;border:0;}
article#belastingadvies blockquote > p{color:#fff;font-weight:700;font-style:italic;font-family:'Open Sans',sans-serif;font-size:20px;padding:10px;margin:auto}
article#belastingadvies > ul{margin-top:30px;line-height:30px;font:18px 'Open Sans',sans-serif;}
article#belastingadvies > ul > li{font-size:16px;list-style-image:url("/media/afbeeldingen/arrow.png");list-style-position:outside;margin-left:60px;margin-bottom:20px}
article#pensioen > h1,article#pensioenadvies > h1{font:18px 'Open Sans',sans-serif;color:#363636;text-align:left;font-weight:700;margin:20px 0}
article#pensioen > h2,article#pensioenadvies > h2{font-style:italic;padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font-weight:600}
article#pensioen p,article#pensioenadvies p{text-align:justified;text-justify:newspaper}
article#pensioen > ul,article#pensioenadvies > ul{margin-top:30px;line-height:30px;font:18px 'Open Sans',sans-serif;}
article#pensioen > ul > li,article#pensioenadvies > ul > li{font-size:16px;list-style-image:url("/media/afbeeldingen/arrow.png");list-style-position:outside;margin-left:60px;margin-bottom:20px}
#dienstenwijzer{margin:0;padding-left:10px;width:100%;}
#dienstenwijzer > ul{float:left;background:#f8f8f8;list-style:none;width:300px;border:0 solid #f8f8f8;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-ms-border-radius:5px 0 0 5px;-o-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;padding:0;margin-top:0;margin-bottom:50px;text-align:center;}
#dienstenwijzer > ul > figure{margin-top:30px;}
#dienstenwijzer > ul > figure > img{margin:0 auto;padding-left:4px;padding-top:4px}
#dienstenwijzer > ul > figure > figcaption{text-transform:uppercase;color:#6cbbb8;margin-top:10px}
#dienstenwijzer > ul > li{display:block;margin:0 auto;padding:25px 0;width:260px;text-align:center;color:#363636;border-top:1px solid #e0e0e0;background:#f8f8f8;}
#dienstenwijzer > ul > li > a{cursor:pointer;color:#403e6b}
#dienstenwijzer > ul > li:hover{font-weight:strong}
#advies{margin-left:8px;margin-right:8px;margin-top:0}
article#estateplanning > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;text-align:center}
article#estateplanning > section{display:inline-block;}
article#estateplanning > section > figure{display:inline;float:left;overflow:hidden;width:235px;margin:0 0;*width:235px -correction;*margin:0 0 -correction;display:block;font:22px 'Dosis',sans-serif;font-size:600;display:inline-block;color:#b88c74;text-align:center;overflow:none;margin-bottom:30px;}
article#estateplanning > section > figure > figcaption{font-size:18px;color:inherit;margin-bottom:30px;text-transform:uppercase}
article#accountancy > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
article#accountancy > h2{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font-style:italic;font-weight:600;margin-bottom:50px}
article#accountancy > section > figure{display:block;font:22px 'Dosis',sans-serif;font-size:600;display:inline-block;color:#b88c74;text-align:center;overflow:none;margin-bottom:30px;display:inline;float:left;overflow:hidden;width:235px;margin:0 0;*width:235px -correction;*margin:0 0 -correction;}
article#accountancy > section > figure > figcaption{font-size:18px;color:inherit;margin-bottom:30px;text-transform:uppercase}
article#accountancy > section > figure > figcaption{margin-bottom:50px}
article#accountancy > p{margin-bottom:20px}
article#salarisenpersoneel > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
article#salarisenpersoneel > ul{margin-top:30px;line-height:30px;font:18px 'Open Sans',sans-serif;}
article#salarisenpersoneel > ul > li{font-size:16px;list-style-image:url("/media/afbeeldingen/arrow.png");list-style-position:outside;margin-left:60px;margin-bottom:20px}
article#abonnement{padding-bottom:30px;}
article#abonnement > p{text-align:center}
article#abonnement > hgroup{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;margin:20px 0;padding:0;}
article#abonnement > hgroup > h1{font-size:36px;font-style:italic;padding-top:10px;color:#47427a}
article#abonnement > hgroup > h2{margin:0;padding-top:5px;padding-bottom:10px;font:22px 'Open Sans',sans-serif;font-weight:600;font-style:italic;color:#6cbbb8}
article#abonnement > section#productinfo{display:inline;float:left;overflow:hidden;width:235px;margin:0 0;*width:235px -correction;*margin:0 0 -correction;display:block;background-color:#47427a;color:#fff;margin-right:30px;padding:20px 30px;font-style:italic;font-size:16px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;text-align:center;}
article#abonnement > section#productinfo > img{padding-top:10px}
article#abonnement > section#productinfo > h3{color:#fff;padding:10px 0 10px 0;text-transform:uppercase;font-weight:600;font:22px 'Dosis',sans-serif}
article#abonnement > section#productinfo > h4{font:16px 'Dosis',sans-serif;padding:0 0 20px 0}
article#abonnement > section#productinfo > ul{width:95%;height:310px;margin:0 auto;display:block;text-align:center;color:#fff;}
article#abonnement > section#productinfo > ul > li{display:block;font-style:italic;font-size:16px;margin:5px 0;}
article#abonnement > section#productinfo > ul > li:first-child{margin-top:0;padding-top:10px;border-top:1px solid #6664a0}
article#abonnement > section#productinfo > ul > li > hr{position:relative;height:1px;z-index:1;top:20px;color:#6664a0;background-color:#6664a0;border:0;margin:auto 0}
article#abonnement > section#productinfo > ul > li > p{display:block;z-index:10;position:relative;width:50px;color:#6664a0;background-color:#47427a;font-size:22px;font-style:italic;margin:0 auto}
article#abonnement > form#ulier_abonnement{display:inline;float:left;overflow:hidden;width:548.3333333333334px;margin:0 0;*width:548.3333333333334px -correction;*margin:0 0 -correction;display:block;height:538px;color:#fff;background:#6cbbb8;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding-left:30px;padding-right:20px;}
article#abonnement > form#ulier_abonnement > h3{padding-top:65px;text-transform:uppercase;text-align:left;color:#fff;font:22px 'Dosis',sans-serif;font-weight:600}
article#abonnement > form#ulier_abonnement > ol{margin:0;padding:0;}
article#abonnement > form#ulier_abonnement > ol > li{margin:20px 0;display:block;}
article#abonnement > form#ulier_abonnement > ol > li:last-child{margin-top:50px}
article#abonnement > form#ulier_abonnement > ol > li > label{display:block;font-size:14px;vertical-align:middle;float:left;min-width:150px;padding-top:10px;height:32px;}
article#abonnement > form#ulier_abonnement > ol > li > label > a.link.wit{color:#fff;font-size:14px;text-decoration:underline;}
article#abonnement > form#ulier_abonnement > ol > li > label > a.link.wit:hover{text-decoration:none}
article#abonnement > form#ulier_abonnement > ol > li > input[type=text],article#abonnement > form#ulier_abonnement > ol > li > input[type=email],article#abonnement > form#ulier_abonnement > ol > li > input[type=tel]{display:inline-block;margin-right:20px;height:24px;width:333px;margin:0}
article#abonnement > form#ulier_abonnement > ol > li > input[type=checkbox]{float:left;margin-top:10px;margin-right:10px}
article#abonnement > form#ulier_abonnement > ol > li > a.knop{background:#47427a;text-transform:uppercase;margin-left:18px;}
article#abonnement > form#ulier_abonnement > ol > li > a.knop:hover{background:#6664a0}
article#juristen blockquote{float:right;position:relative;background:url("/media/afbeeldingen/bg_quote.png") no-repeat center center;height:169px;width:300px;padding:20px;margin:0 40px;border:0;}
article#juristen blockquote > p{color:#fff;font-weight:700;font-style:italic;font-family:'Open Sans',sans-serif;font-size:20px;padding:10px;margin:auto}
article#juristen > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font:24px 'Open Sans',sans-serif;font-style:italic;font-weight:600;text-align:center}
article#juristen > ul{margin-top:30px;line-height:30px;font:18px 'Open Sans',sans-serif;}
article#juristen > ul > li{font-size:16px;list-style-image:url("/media/afbeeldingen/arrow.png");list-style-position:outside;margin-left:60px;margin-bottom:20px}
article#juristen p{text-align:justify;text-justify:newspaper}
article#schoenendoos{text-align:center;margin-top:30px;}
article#schoenendoos > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;font:22px 'Open Sans',sans-serif;font-style:italic;font-weight:600}
article#risico-en-advies #contact{text-align:center;color:#6b4c39}
article#risico-en-advies > blockquote{background:url("/media/afbeeldingen/tegel_grijs.png") repeat;padding:30px 50px 50px 50px;margin-bottom:50px;margin-top:30px}
article#risico-en-advies p{color:#363636;text-align:left}
article#risico-en-advies figure{text-align:left;vertical-align:middle;}
article#risico-en-advies figure > img{vertical-align:middle}
article#risico-en-advies figure > figcaption{padding:30px 0;margin:0;padding-left:10px;display:inline-block;font:36px 'Open Sans',sans-serif;color:#6b4c39;font-weight:700}
article#contact{margin-bottom:50px;}
article#contact > h1{margin-bottom:30px}
article#contact span{color:#e31741;margin:20px 0;}
article#contact span > p{color:#363636;font-style:italic;display:inline-block}
article#contact > form > section{display:inline;float:left;overflow:hidden;width:470px;margin:0 0;*width:470px -correction;*margin:0 0 -correction;}
article#contact > form > section > ul{margin:0;padding:0;}
article#contact > form > section > ul > li{padding:5px 0;margin:0;}
article#contact > form > section > ul > li > textarea{width:445px;height:135px}
article#contact > form > section > ul > li > label{display:inline-block;width:140px;vertical-align:middle;}
article#contact > form > section > ul > li > label.radio{width:300px;font-style:italic;font-size:14px;margin-left:10px}
article#contact > form > section > ul > li > input{display:inline-block;}
article#contact > form > section > ul > li > input[type=text],article#contact > form > section > ul > li > input[type=email],article#contact > form > section > ul > li > input[type=tel]{width:250px}
article#contact > form > section > ul > li > input[type=radio]{margin-top:10px}
article#contact > form > section > ul > li > a{float:right}
article#werkenbij{font:14px 'Open Sans',sans-serif;line-height:1.8em;}
article#werkenbij > h1,article#werkenbij > h2,article#werkenbij h3,article#werkenbij > h4{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;width:940px;margin:0 auto;*zoom:1;color:#b88c74;text-align:center;font:36px 'Open Sans',sans-serif;font-style:italic;font-weight:600;padding:20px 0;margin:20px 0}
article#werkenbij > h1:before,article#werkenbij > h2,article#werkenbij h3,article#werkenbij > h4,article#werkenbij > h1:after,article#werkenbij > h2,article#werkenbij h3,article#werkenbij > h4{content:"";display:table}
article#werkenbij > h1:after,article#werkenbij > h2,article#werkenbij h3,article#werkenbij > h4{clear:both}
article#werkenbij > h4{color:#47427a;font:28px 'Open Sans',sans-serif}
article#werkenbij > p{display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction;line-height:2em;max-width:280px;text-align:justify;height:100%;padding:12px;vertical-align:top;font:14px 'Open Sans',sans-serif}
article#werkenbij > div.vacature-knop{text-align:center;}
article#werkenbij > div.vacature-knop > a.knop{margin:50px auto}
article#vacatures > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
article#vacatures > h2{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;color:#b88c74;text-align:center;font:30px 'Open Sans',sans-serif;font-weight:600;font-style:italic}
article#vacatures span{color:#e31741;margin:20px 0}
article#vacatures p{color:#363636;display:inline-block;font-style:italic}
article#vacatures > form > section{display:inline;float:left;overflow:hidden;width:470px;margin:0 0;*width:470px -correction;*margin:0 0 -correction;}
article#vacatures > form > section > ul{margin:0;padding:0;}
article#vacatures > form > section > ul > li{padding:5px 0;margin:0;}
article#vacatures > form > section > ul > li > textarea{width:445px;height:135px}
article#vacatures > form > section > ul > li > label{display:inline-block;width:140px;vertical-align:middle;}
article#vacatures > form > section > ul > li > label.radio{width:300px;font-style:italic;font-size:14px;margin-left:10px}
article#vacatures > form > section > ul > li > input{display:inline-block;}
article#vacatures > form > section > ul > li > input[type=text],article#vacatures > form > section > ul > li > input[type=email],article#vacatures > form > section > ul > li > input[type=tel]{width:250px}
article#vacatures > form > section > ul > li > input[type=radio]{margin-top:10px}
article#vacatures > form > section > ul > li > input[type=submit]{float:right;margin:50px 0}
article#ttime{width:100%;background:transparent;margin:0;padding:0;display:block;float:none;text-align:center;}
article#ttime a{color:#6b4c39;}
article#ttime a:hover{text-decoration:none}
article#ttime figure{display:inline;float:left;overflow:hidden;width:470px;margin:0 0;*width:470px -correction;*margin:0 0 -correction;margin:50px 0;padding:0;}
article#ttime figure > figcaption{color:#fff;text-transform:uppercase}
article#ttime h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;width:940px;margin:0 auto;font:36px 'Open Sans',sans-serif;font-style:italic;font-weight:600}
article#ttime > section#videos{background:url("/media/afbeeldingen/tegel_grijs.png") repeat;padding-bottom:70px;padding-top:30px;min-height:300px;}
article#ttime > section#videos > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;width:940px;margin:0 auto;color:#6b4c39;text-align:center;margin-bottom:30px}
article#ttime > section#videos > div{width:940px;margin:0 auto;text-align:center;overflow:visible;}
article#ttime > section#videos > div > img{margin:5px}
article#ttime > section#nieuwsbrief{background:#6cbbb8;min-height:300px;padding-top:30px;}
article#ttime > section#nieuwsbrief > h1{color:#fff;border-top:1px solid #8dc1c1;border-bottom:1px solid #8dc1c1}
article#ttime > section#nieuwsbrief > a{color:#fff}
article#ttime > section#nieuwsbrief > p{color:#fff;padding:30px}
section#columns{background:url("/media/afbeeldingen/tegel_grijs.png") repeat;padding-bottom:70px;padding-top:30px;min-height:250px;}
section#columns > div{width:940px;margin:0 auto}
section#columns > h1{padding:10px 0;margin:50px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;width:940px;margin:0 auto;color:#6b4c39;text-align:center;margin-bottom:30px}
#t-columns > div img{width:86px;height:86px;margin-bottom:30px}
#t-columns > div div.column{width:940px;margin:0 auto;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;max-width:300px;max-height:350px;padding:20px;}
#t-columns > div div.column > p.TIME{font:14px 'Open Sans',sans-serif;color:#6b4c39;font-weight:600;margin-bottom:20px}
#t-columns > div div.column > h3{font:22px 'Open Sans',sans-serif;color:#6b4c39;font-style:italic;margin:15px 0}
#t-columns > div div.column > summary{font:14px 'Open Sans',sans-serif;color:#363636;font-weight:600}
#t-columns > div div.column > a{color:#fff;margin:20px auto}
section#specials{background:#6664a0;min-height:300px;padding-top:30px;}
section#specials > h1{color:#fff;border-top:1px solid #9c9bc3;border-bottom:1px solid #9c9bc3}
#t-specials{width:940px;margin:0 auto;}
#t-specials > div.download{text-align:center;}
#t-specials > div.download > a{display:block}
#t-specials > div.download > figure > img{margin-bottom:10px}
#t-specials > div.download > figure > figcaption{margin-top:20px;margin-bottom:20px;font:18px 'Dosis',sans-serif;color:#fff;text-transform:uppercase}
article#twinfield > ul > li > label{display:inline-block;min-width:200px}
article#twinfield > ul > li > input{display:inline-block}
section#multimedia{width:940px;margin:0 auto;}
section#multimedia > article.video{display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction}
section#multimedia > article.nieuwsbrief{display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction;}
section#multimedia > article.nieuwsbrief > h3{font:24px 'Dosis',sans-serif;font-weight:500;color:#e31741}
section#multimedia > article.nieuwsbrief input[type=email]{width:300;margin-bottom:20px}
section#multimedia > article.nieuwsbrief > p{margin-top:10px;font-size:14px}
section#multimedia > article.nieuwsbrief span{font:10px 'Open Sans',sans-serif;color:#e31741}
.afspelen{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;margin-bottom:50px;}
.afspelen > iframe{position:absolute;top:0;left:0;width:100%;height:100%}
footer#snelkoppelingen{width:940px;margin:0 auto;}
footer#snelkoppelingen > section{display:inline;float:left;overflow:hidden;width:313.3333333333333px;margin:0 0;*width:313.3333333333333px -correction;*margin:0 0 -correction;margin-top:25px;margin-bottom:25px;min-height:250px}
footer#snelkoppelingen h4{font:14px 'Open Sans',sans-serif;text-align:left;font-weight:600;color:#363636;margin-bottom:5px}
footer#snelkoppelingen li{font-size:14px;line-height:22px;}
footer#snelkoppelingen li:before{content:"» ";color:#e31741}
footer#snelkoppelingen li > a{font-size:14px;color:#363636;text-decoration:none;}
footer#snelkoppelingen li > a:hover{text-decoration:underline}
footer#paginavoet{width:940px;margin:0 auto;font:12px 'Open Sans',sans-serif;}
footer#paginavoet > aside{display:inline;float:left;overflow:hidden;width:470px;margin:0 0;*width:470px -correction;*margin:0 0 -correction;text-align:left;}
footer#paginavoet > aside > ul{list-style:none;cursor:pointer;text-align:right;}
footer#paginavoet > aside > ul > li{display:inline-block;}
footer#paginavoet > aside > ul > li > a{font:12px 'Open Sans',sans-serif;color:#363636;text-decoration:none;line-height:1.8em;}
footer#paginavoet > aside > ul > li > a:hover{text-decoration:underline}
