// Reset stijlen voor outline
h1, h2, h3
  margin 0
  padding 0
  font normaal sans
  color #363636
  margin 0 auto

p
  font 16px sans
  margin-bottom 25px

li
  font-size 16px



/*
____ ____ _  _ ___ ____ _ _  _ ____ ____ ____
|    |  | |\ |  |  |__| | |\ | |___ |__/ [__
|___ |__| | \|  |  |  | | | \| |___ |  \ ___]

*/

// Centreren van inhoud
midden()
  width 940px
  margin 0 auto

// Rij 100% breedte
band()
  width 100%
  background transparent
  margin 0
  padding 0
  display block
  float none

// In rood afgevinkte lijstonderdelen
afvinken()
  margin-top 30px
  line-height 30px
  font middel sans
  > li
    font-size 16px
    list-style-image url('/media/afbeeldingen/arrow.png')
    list-style-position: outside;
    margin-left 60px
    margin-bottom 20px

ul.afgevinkt
  afvinken()


/*
___  ____ _  _ _  _ _ ____ ____
|__] |__| |\ | |\ | | |___ |__/
|__] |  | | \| | \| | |___ |  \

*/

// Grijze band met nieuwsbrief en 2 videos (multimedia)
#media-bannier
  band()
  background url('/media/afbeeldingen/tegel_grijs.png') repeat
  min-height 200px
  margin 0 auto
  padding 50px 0

// Vlaggenschip: bannier (afbeeldingen/titels kop)
#bannier
  band()
  height 384px





// Inline snelkoppelingen
a:link &:hover &:visited &:active
  color rood
  text-decoration none
  font sans


// Knoppen
a.knop,
input.knop
  background-color rood
  display inline-block
  cursor pointer
  font 16px dosis
  border-radius(4px)
  border-width none
  padding 10px 20px
  color white
  text-decoration none
  text-transform uppercase
  &:hover
    background-color goud
    text-decoration none
    color white

a.knop.klein
    padding 5px 15px
    font-size normaal


// Iconen & illustratie
figuur()
  display block
  font flink dosis
  font-size 600
  display inline-block
  color bruinig
  text-align center
  overflow none
  margin-bottom 30px
  > figcaption
    font-size 18px
    color inherit
    margin-bottom 30px
    text-transform uppercase

// Accentueer lijnen boven/onder
accent()
  padding 10px 0
  margin 50px 0
  border-top 1px solid grijs
  border-bottom 1px solid grijs

// Rode wolk quote
quote()
  float right
  position relative
  background url('/media/afbeeldingen/bg_quote.png') no-repeat center center
  height 169px
  width 300px
  padding 20px
  margin 0 40px
  border 0
  > p
    color wit
    font-weight 700
    font-style italic
    font-family sans
    font-size 20px
    padding 10px
    margin auto

// Alleen contactgegevens, geen postadres
address
  font-style normal
  font-size 24px
  color rood
  font-weight 300
  line-height 48px
  text-align center
  > strong
    font-size 36px
    color rood
    font-weight 700

// Algemene stippellijn
hr.dotted
  border-top 1px dotted grijs
  color #fff
  background-color #fff
  height 1px
  width 100%
  margin-top 25px

// Stijlen POC voor zaken
.adresblok
  kolom(4)
  margin-bottom 50px
  line-height 24px
  > strong
    margin-bottom 30px
    margin-top 30px
    padding 0
    font-family 16px sans
    font-style none
    font-weight 700
    color zwart
  a.link
    padding-left 20px
    color rood
    font-family sans
    text-decoration none
    &:hover
      text-decoration underline
  > a.knop
    margin-top 40px
  span
    padding-left 20px

// STYLUS Functies -> CSS Klassen
.markeer
  accent()

figure
  figuur()

.centreren
  midden()

// ?
p#contact
  text-align center
  color bruin
