// Kill me those two won't mix?!

textarea
  font 16px sans
  font-style italic
  border-radius(4px)
  border 1px solid #ccc
  box-shadow inset 0 0 10px rgba(0,0,0,.06)
  padding 10px
  margin 0

input
  &[type="email"]
  &[type="text"]
  &[type="tel"]
  &[type="password"]
    font 16px sans
    border 1px solid #ccc
    padding 5px 10px
    position relative
    border-radius(4px)
    box-shadow inset 0 0 10px rgba(0,0,0,.06)
    z-index 2
    &:focus
      font-style normal


// Vendor shit

textarea,
input
  &[type="email"]:-moz-placeholder
  &[type="text"]:-moz-placeholder
  &[type="tel"]:-moz-placeholder
  &[type="password"]:-moz-placeholder
    color donkergrijs
    font-style italic
    &:focus
      font-style normal

textarea,
input
  &[type="email"]:-ms-input-placeholder
  &[type="text"]:-ms-input-placeholder
  &[type="tel"]:-ms-input-placeholder
  &[type="password"]:-ms-input-placeholder
    color donkergrijs
    font-style italic
    &:focus
      font-style normal

textarea,
input
  &[type="email"]::-webkit-input-placeholder
  &[type="text"]::-webkit-input-placeholder
  &[type="tel"]::-webkit-input-placeholder
  &[type="password"]:-webkit-input-placeholder
    color donkergrijs
    font-style italic
    &:focus
      font-style normal

// Checkbox / radio altijd ruk

input[type="checkbox"]
  -webkit-appearance none
  border 1px solid #cacece
  box-shadow 0px 0px 3px 0px grijs
  background wit
  margin-left -1px
  padding 11px
  border-radius(3px)
  display inline-block
  position relative
  vertical-align middle
  &:active,
  &:checked:active
    box-shadow 0px 0px 3px 0px grijs
  &:checked
    border 1px solid #cbcbcb
    box-shadow 0px 0px 3px 0px grijs
    color #99a1a7
  &:checked:after
    content '\2714'
    font-size 20px
    position absolute
    top -1px
    left 3px
    color #403e6b

input[type="radio"]
  -webkit-appearance none
  background-color #fafafa
  border 1px solid #cacece
  box-shadow 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05)
  padding 9px
  border-radius 50px
  display inline-block
  position relative
  &:checked
    background-color #e9ecee
    color #99a1a7
    border 1px solid #adb8c0
    box-shadow 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1)
    &:after
      content ' '
      width 12px
      height 12px
      border-radius 50px
      position absolute
      top 3px
      background #99a1a7
      box-shadow inset 0px 0px 10px rgba(0,0,0,0.3)
      text-shadow 0px
      left 3px
      font-size 32px
  &:active,
  &:checked:active
    box-shadow 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1)


// Validatie algemeen
form
  mark
    &.validate
      display inline-block
      float right
      margin-top 10px
      margin-right 15px
      width 21px
      height 21px
      background transparent none
  span.bericht
    font 16px sans
    font-weight 600
    font-style italic
    margin 1em 0
    color rood
    padding 0
    display block
    background transparent none
  .fout_bericht
    display block
    height 22px
    line-height 22px
    background #FBE3E4 url('/media/afbeeldingen/error.png') no-repeat 10px center
    padding 3px 10px 3px 35px
    color #8a1f11
    border 1px solid #FBC2C4
    border-radius(5px)
  .loader
    padding 0 10px

// Validatie specifiek

// Rood contact formulier algemeen
article#contact,
article#vacatures
  form
    mark
      &.valid
        background url('/media/afbeeldingen/succes_groen.png') no-repeat top left
      &.fout
        background url('/media/afbeeldingen/error_rood.png') no-repeat top left
    input
      &.fout
        border 2px solid rood
        box-shadow 0 0 5px rgba(73,71,133,0.8)
    #melding
      color rood

// Paars juridisch abonnement formulier
article#abonnement
  form
    mark
      &.valid
        background url('/media/afbeeldingen/succes.png') no-repeat top left
      &.fout
        background url('/media/afbeeldingen/error.png') no-repeat top left
    input
      &.fout
        border 2px solid paars
        box-shadow 0 0 5px rgba(73,71,133,0.8)
    #melding
      color rood


// File upload
#bestand
  position relative
  display inline
  > input[type=file]
    position absolute
    left 0
    margin-top -5px
    opacity 0
    z-index 1
    cursor pointer
    width 200
    height 50
  > input[type=text]
    position absolute
    display inline-block
    left 0
    margin-top -5px
    top 0
    z-index -1
    width 200
    height 50

#multimedia > #email
  margin-top 30px
