// Paginaindeling
#paginakop
  midden()
  > header
    kolom(10)
    padding 20px 0
  > aside
    kolom(2)
    text-align right
    > a.login
      @extends a.knop
      background goud
      font-size normaal
      padding 5px 15px
      margin 20px 10px 10px 0
      &:hover
        background rood

// Bannier
#menucontext
  midden()
  color wit
  > h1
    padding-top 50px
    font enorm sans
    line-height enorm
    text-align left
    color inherit
    font-style italic
    font-weight 700
  > h2
    font 48px sans
    color inherit
    font-style italic
    font-weight 400
  > p
    padding-top 20px
    font normaal sans
    color inherit
    font-weight 400
    line-height 1.5em
    margin-bottom 10px //reset

// Lees meer
a.context
  @extends a.knop
  box-shadow 0 1px 3px rgba(000,000,000,0.5)
  background-color white
  margin 30px 0
  color rood
  &:hover
    color wit
    background rood



