#app
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  overflow auto
  -webkit-overflow-scrolling touch
  background url(circles.png) no-repeat bottom left
  padding 30px
  color #222
  line-height 1.5
  font-size 16px
  text-shadow 0 1px 0 hsla(0,0%,100%,0.3)
  p
    a
      background hsla(0,0%,100%,0.5)
      border 1px solid hsla(0,0%,100%,0.6)
      border-radius 2px
      padding 0 3px
      color #333


/*@media screen and (-webkit-device-pixel-ratio:2) {
  #app {
    background: url("circles@2x.png") no-repeat bottom left;
    background-size: 400px 400px;
    padding-bottom: 40px;
  }
}
@media screen and (-webkit-device-pixel-ratio:1) and (max-device-width:480px) {
  #app {
    background: url("circles.png") no-repeat bottom left;
    padding-bottom: 40px;
  }

}*/

nav#arc
    position fixed
    top 30px
    right 30px
    background #F00

nav#full
  position relative
  margin-left 50%

a
  -webkit-tap-highlight-color hsla(0,0%,0%,0.0)

nav#full
nav#arc
nav#app
  & > a
    position absolute
    width 40px
    height 40px
    background #F00
    background -webkit-linear-gradient(hsla(0,100%,50%,1.0), hsla(0,100%,43%,1.0) 50%, hsla(0,100%,37%,1.0) 50%, hsla(0,100%,30%,1.0))
    background -moz-linear-gradient(hsla(0,100%,50%,1.0), hsla(0,100%,43%,1.0) 50%, hsla(0,100%,37%,1.0) 50%, hsla(0,100%,30%,1.0))
    bottom -23px
    left -23px
    z-index 2
    border-radius 40px
    font-size 38px
    font-weight bold
    text-align center
    line-height 30px
    color #FFF
    text-decoration none
    border 3px solid #FFF
    box-shadow 0 0 2px hsla(0,0%,0%,0.6)
  ul
    padding 0
    margin 0
    list-style-type none
  li
    position absolute
    left -16px
    top -16px
    a
      font-size 18px
      font-weight normal
      border 3px solid #FFF
      box-shadow inset 0 0 4px hsla(0,0%,0%,1.0), 0 0 2px hsla(0,0%,0%,0.6)
      text-shadow 0 0 2px hsla(0,0%,0%,1.0)
      width 27px
      height 27px
      background #444
      position absolute
      top 0
      left 0
      overflow hidden
      color #FFF
      border-radius 26px
      line-height 24px
      text-align center
      text-decoration none
      font-weight bold

