// Twitter bootstrap stijlschema minimal import voor development...
//@import url('/stijlen/bootstrap-combined.min.css')

body
  font normaal sans
  font-weight 500
  font-color #363636

// Twitter bootstrap overschrijven met onze stijl, let op de volgorde van
// aanroepen van de sheets in layout/document, Twitter eerst
nav.container
  font middel dosis !important
  font-weight 400

.navbar
  font middel dosis
  background transparent
  margin  0
  padding 0

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
  background transparent
  color #555


.navbar .nav > .active > a,
.navbar .nav > .active > a:hover
.navbar .nav > .active > a:focus
  box-shadow none
  background-color transparent
  color rood

.navbar .nav > li > a:link
  margin 0
  padding-left 0
  color goud
  &:hover
    color rood

.navbar .nav > li > a:visited,
.navbar .nav > li > a:active
  color goud

.dropdown-menu
  width 950px
  left -201px
  border-radius 0

.navbar .nav > li > .dropdown-menu:before
  left 220px

.navbar .nav > li > .dropdown-menu:after
  left 220px

.menu-kolom
  background transparent
  float left
  overflow hidden
  padding 0 20px

.menu-kolom h4
  font klein dosis
  font-weight 600
  color rood

.menu-kolom > ul
  list-style-type none
  display inline-block
  min-width 150px
  width auto
  vertical-align top
  padding 0 30px 0 0
  margin 0 0 40px 0

.menu-kolom > ul > li > a
  font klein dosis
  line-height 25px
  margin 0
  padding 0
  &:before
    content "» "
    color rood
  &:hover
    background transparent
    color inherit

ul.nav > li > a
  text-transform uppercase

