// Voorpagina

// Knop LEES ONZE OVERTUIGING
a.verder
  @extends a.knop
  position relative
  display inline-block
  background-color rood
  margin 0 auto
  padding 10px 24px
  &:hover
    background-color bruinig

// Klasse: Standaard opmaak inhoud
article.inhoud
  kolom(12)
  midden()
  display block
  float none
  padding-top 50px
  padding-bottom 30px
  // Artikel koppen
  > h1
    // zonder nadruk (grijze lijn)
    color bruin
    font 30px sans
    font-weight 600
    font-style italic
    text-align center
  > h2
    // Kleurvariaties over alle paginas ongeveer
    font flink sans
    color bruin
    text-align center
    font-weight 400
    line-height 30px
    margin 30px 0

  > p
    // Expliciet nogmaals para
    color #363636
    line-height 24px
    a
      // Snelkoppelingen binnen in teksten
      color rood
      text-decoration none
      &:hover
        text-decoration underline

    figure > figcaption
      // Iconen ter illustratie artikelen
      margin-bottom 50px
      text-transform uppercase


/* LET OP!!!!!
 *
 * De rest wordt a.h.v. article als container id gestijld:
 * h1,h2,p,li e.d. alles wat afwijkt op id van het meta-data
 * 'kenmerk' van de pagina!!!!!
 */

// Home (index.html)
//
article#voorpagina
  text-align center
  > h1
    accent()
    font groot sans
    margin 25px 0
    font-style italic
    font-weight 600
  > figure
    figuur()
    kolom(4)

// FIXME bug css h4 lines
article#overtuiging
  text-align center
  margin-bottom 50px
  > section
    midden()
    display inline-block
    > figure
      figuur()
      kolom(4)
  > h1, h2, h3, h4, h5
    accent()
    color lichtbruin
    font groot sans
    margin 25px 0
    font-style italic
    font-weight 600
  > h2, h3, h4, h5
    font-size 24px
    float none

// Belastingadvies, pensioenen en estateplanning
article#belastingadvies
  > h1
    accent()
    font-size 30px
    line-height 38px
  > h2
    accent()
    color donkerblauw
    font-size 24px
    font-style italic
    font-weight 600
  > h3
    font 22px sans
    font-weight 700
    color zwart
    margin-bottom 20px
    margin-top 20px
  > h4
    accent()
    text-align center
    font 24px sans
    font-weight 600
    color bruin
    font-style italic
    margin-bottom 20px
    margin-top 20px
  blockquote
    quote()
  > ul
    afvinken()

// Pensioen en pensioenadvies
article#pensioen,
article#pensioenadvies
  > h1
    font middel sans
    color zwart
    text-align left
    font-weight 700
    margin 20px 0
  > h2
    font-style italic
    accent()
    font-weight 600
  p
    text-align justified
    text-justify newspaper
  > ul
    afvinken()

/* TODO Tooltips */

// 3 kolommen
#dienstenwijzer
  margin 0
  padding-left 10px
  width 100%
  > ul
    float left
    background lichtgrijs
    list-style none
    width 300px
    border 0 solid lichtgrijs
    border-radius 5px 0 0 5px
    padding 0
    margin-top 0
    margin-bottom 50px
    text-align center
    > figure
      margin-top 30px
      > img
        margin 0 auto
        padding-left 4px
        padding-top 4px
      > figcaption
        text-transform uppercase
        color turquoise
        margin-top 10px
    > li
      display block
      margin 0 auto
      padding 25px 0
      width 260px
      text-align center
      color zwart
      border-top 1px solid grijs
      background lichtgrijs
      > a
        cursor pointer
        color donkerblauw
      &:hover
        font-weight strong

// Middenkolom
#advies
  margin-left 8px
  margin-right 8px
  margin-top 0

// Estate Planning
article#estateplanning
  > h1
    accent()
    text-align center
  > section
    display inline-block
    > figure
      kolom(3)
      figuur()

// Accountancy
article#accountancy
  > h1
    accent()
  > h2
    accent()
    font-style italic
    font-weight 600
    margin-bottom 50px
  > section > figure
    figuur()
    kolom(3)
    > figcaption
      margin-bottom 50px
  > p
    margin-bottom 20px

// Accountancy: Salaris en Personeel
article#salarisenpersoneel
  > h1
    accent()
  > ul
    afvinken()

// Juridisch Abonnement
article#abonnement
  padding-bottom 30px
  > p
    text-align center
  > hgroup
    accent()
    margin 20px 0
    padding 0
    > h1
      @extends article.inhoud > h1
      font-size groot
      font-style italic
      padding-top 10px
      color paars
    > h2
      @extends article.inhoud > h2
      margin 0
      padding-top 5px
      padding-bottom 10px
      font flink sans
      font-weight 600
      font-style italic
      color turquoise

  // Paarse lijst links
  > section#productinfo
    kolom(3)
    display block
    background-color paars
    color wit
    margin-right 30px
    padding 20px 30px
    font-style italic
    font-size 16px
    border-radius(4px)
    text-align center

    // Kop juridisch abonnement
    > img
      padding-top 10px
    > h3
      color wit
      padding 10px 0 10px 0
      text-transform uppercase
      font-weight 600
      font flink dosis
    > h4
      font 16px dosis
      padding 0 0 20px 0
    > ul
      width 95%
      height 310px
      margin 0 auto
      display block
      text-align center
      color wit
      > li
        // Productinformatie
        display block
        font-style italic
        font-size 16px
        margin 5px 0
        &:first-child
          margin-top 0
          padding-top 10px
          border-top 1px solid lichtpaars
        > hr
          // Lijstscheidingstekens
          position relative
          height 1px
          z-index 1
          top 20px
          color lichtpaars
          background-color lichtpaars
          border 0
          margin auto 0
        > p
          // En / of
          display block
          z-index 10
          position relative
          width 50px
          color lichtpaars
          background-color paars
          font-size 22px
          font-style italic
          margin 0 auto

  // Groene kolom rechts
  > form#ulier_abonnement
    kolom(7)
    display block
    height 538px
    color wit
    background turquoise
    border-radius(4px)
    padding-left 30px
    padding-right 20px
    > h3
      padding-top 65px
      text-transform uppercase
      text-align left
      color wit
      font flink dosis
      font-weight 600
    > ol
      margin 0
      padding 0
      > li
        margin 20px 0
        display block
        &:last-child
          margin-top 50px
        > label
          display block
          font-size normaal
          vertical-align middle
          float left
          min-width 150px
          padding-top 10px
          height 32px
          > a.link.wit
            color wit
            font-size 14px
            text-decoration underline
            &:hover
              text-decoration none
        > input
          &[type=text], &[type=email], &[type=tel]
            display inline-block
            margin-right 20px
            height 24px
            width 333px
            margin 0
          &[type=checkbox]
            float left
            margin-top 10px
            margin-right 10px
        > a.knop
          background paars
          text-transform uppercase
          margin-left 18px
          &:hover
            background lichtpaars

// Juridisch Advies
article#juristen
  blockquote
    quote()
  > h1
    accent()
    font 24px sans
    font-style italic
    font-weight 600
    text-align center
  > ul
    afvinken()
  p
    text-align justify
    text-justify newspaper


// Schoenendoos overstapservice
article#schoenendoos
  text-align center
  margin-top 30px
  > h1
    accent()
    font flink sans
    font-style italic
    font-weight 600

// Risico en advies
article#risico-en-advies
  #contact
    text-align center
    color bruin
  > blockquote
    background url('/media/afbeeldingen/tegel_grijs.png') repeat
    padding 30px 50px 50px 50px
    margin-bottom 50px
    margin-top 30px
  p
    color zwart
    text-align left
  figure
    text-align left
    vertical-align middle
    > img
      vertical-align middle
    > figcaption
      padding 30px 0
      margin 0
      padding-left 10px
      display inline-block
      font groot sans
      color bruin
      font-weight 700

// Contactformulier
article#contact
  margin-bottom 50px
  > h1
    margin-bottom 30px
  span
    color rood
    margin 20px 0
    > p
      color zwart
      font-style italic
      display inline-block
  > form > section
    kolom(6)
    > ul
      margin 0
      padding 0
      > li
        padding 5px 0
        margin 0
        > textarea
          width 445px
          height 135px
        > label
          display inline-block
          width 140px
          vertical-align middle
          &.radio
            width 300px
            font-style italic
            font-size normaal
            margin-left 10px
        > input
          display inline-block
          &[type=text], &[type=email], &[type=tel]
            width 250px
          &[type=radio]
            margin-top 10px
        > a
            float right



/*
        WERKEN BIJ TREDIUS
*/

// Index
article#werkenbij
  font normaal sans
  line-height 1.8em
  > h1 // lichtbruin
    accent()
    midden()
    clearfix()
    color bruinig
    text-align center
    font groot sans
    font-style italic
    font-weight 600
    padding 20px 0
    margin 20px 0
  > h2, h3
    @extends article#werkenbij > h1
  > h4
    @extends article#werkenbij > h1
    color paars
    font 28px sans
  > p
    kolom(4)
    line-height 2em
    max-width 280px
    text-align justify
    height 100%
    padding 12px
    vertical-align top
    font normaal sans
  > div.vacature-knop
    text-align center
    > a.knop
      margin 50px auto

// Vacatures en open sol.
article#vacatures
  > h1
    accent()
  > h2
    accent()
    color bruinig
    text-align center
    font 30px sans
    font-weight 600
    font-style italic
  span
    color rood
    margin 20px 0
  p
    color zwart
    display inline-block
    font-style italic
  > form > section
    kolom(6)
    > ul
      margin 0
      padding 0
      > li
        padding 5px 0
        margin 0
        > textarea
          width 445px
          height 135px
        > label
          display inline-block
          width 140px
          vertical-align middle
          &.radio
            width 300px
            font-style italic
            font-size normaal
            margin-left 10px
        > input
          display inline-block
          &[type=text], &[type=email], &[type=tel]
            width 250px
          &[type=radio]
            margin-top 10px
        > input
          &[type=submit]
            float right
            margin 50px 0


// Continue afwisseling in brede banden
article#ttime
  band() // zet standaard alles op 100%
  text-align center // alle tekst vanaf hier
  a // standaard snelkoppelingen volgende/vorige
    color bruin
    &:hover
      text-decoration none
  figure
    kolom(6)
    margin 50px 0
    padding 0
    > figcaption
      color wit
      text-transform uppercase
  h1 // nieuwe h1 want .inhoud is overschreven
    accent()
    midden()
    font groot sans
    font-style italic
    font-weight 600


  // Grijs videos
  > section#videos
    background url('/media/afbeeldingen/tegel_grijs.png') repeat
    padding-bottom 70px
    padding-top 30px
    min-height 300px
    > h1
      accent()
      midden()
      color bruin
      text-align center
      margin-bottom 30px
    > div
      midden()
      text-align center
      overflow visible
      > img
        margin 5px


  // Groen nieuwsbrief
  > section#nieuwsbrief
    background turquoise
    min-height 300px
    padding-top 30px
    > h1
      color wit
      border-top 1px solid #8dc1c1
      border-bottom 1px solid #8dc1c1
    > a
      color wit
    > p
      color wit
      padding 30px

// Grijs columns
section#columns
  background url('/media/afbeeldingen/tegel_grijs.png') repeat
  padding-bottom 70px
  padding-top 30px
  min-height 250px
  > div
    midden()
  > h1
    accent()
    midden()
    color bruin
    text-align center
    margin-bottom 30px

#t-columns > div
  img
    width 86px
    height 86px
    margin-bottom 30px
  div.column
    midden()
    background wit
    border-radius(4px)
    max-width 300px
    max-height 350px
    padding 20px
    > p.TIME
      font normaal sans
      color lichtbruin
      font-weight 600
      margin-bottom 20px
    > h3
      font 22px sans
      color bruin
      font-style italic
      margin 15px 0
    > summary
      font normaal sans
      color zwart
      font-weight 600
    > a
      color wit
      margin 20px auto


// Paars specials
section#specials
  background lichtpaars
  min-height 300px
  padding-top 30px
  > h1
    color wit
    border-top 1px solid #9c9bc3
    border-bottom 1px solid #9c9bc3

#t-specials
  midden()
  > div.download
    text-align center
    > a
      display block
    > figure
      > img
        margin-bottom 10px
      > figcaption
        margin-top 20px
        margin-bottom 20px
        font middel dosis
        color wit
        text-transform uppercase


article#twinfield
  > ul > li
    > label
      display inline-block
      min-width 200px
    > input
      display inline-block

