section#columns

  h1 Columns van Marco Krijger

  #t-columns.hfeed.royalSlider.contentSlider.rsDefault.rsHor.rsWebkit3d
    each column in getCollection("alleColumns").toJSON()
      div
        img(src='/media/afbeeldingen/icon_column.png'
          alt='Column #{column.titel}')

        .column.hentry(id='#{column.name}')

          time.updated.published(datetime='#{column.date}')= column.date.toLocaleDateString()

          h3.entry-title #{column.titel}

          summary #{column.samenvatting}

          a.knop.tcolumn(href="#{column.locatie}") Lees deze column &raquo;


:coffeescript

  jQuery(document).ready ($) ->

    si = $("#t-columns").royalSlider(
      addActiveClass: true
      arrowsNav: false
      controlNavigation: "bullets"
      autoScaleSlider: true
      autoScaleSliderWidth: 940
      autoScaleSliderHeight: 450
      loop: true
      fadeinLoadedSlide: false
      globalCaption: true
      keyboardNavEnabled: true
      globalCaptionInside: false
      visibleNearby:
        enabled: true
        centerArea: 0.5
        center: true
        breakpoint: 650
        breakpointCenterArea: 0.64
        navigateByCenterClick: true
    ).data("royalSlider")


