section#videos

  - alle_videos = getCollection("alleVideos").toJSON()

  //each obj in alle_videos
  //  if ((i%2 == 0) || (i == 0))
  //    p "div"
  // p "boo"
  //  - i++;

  script
    alert(alle_videos)

  h1 Actuele videos

  #t-videos.royalSlider.rsDefault.visibleNearby.rsHor.rsWebkit3d
    each video in alle_videos
      img(id="#{video.vimeoId}", class="rsImg", src="#{video.duimGroot}"
        data-rsVideo="https://vimeo.com/#{video.vimeoId}")


:coffeescript

  jQuery(document).ready ($) ->

    si = $("#t-videos").royalSlider(

      addActiveClass: true
      arrowsNav: false
      controlNavigation: "bullets"
      autoScaleSlider: true
      autoScaleSliderWidth: 940
      autoScaleSliderHeight: 340
      loop: true
      fadeinLoadedSlide: false
      globalCaption: true
      keyboardNavEnabled: true
      globalCaptionInside: false
      visibleNearby:
        enabled: true
        centerArea: 0.6
        center: true
        breakpoint: 0
        breakpointCenterArea: 0.64
        navigateByCenterClick: true

    ).data("royalSlider")

